Makefile
.ipynb_checkpoints/
requested_sequences.csv
.DS_Store
slurm-*.out
data/20200603-TCGA-GBMLGG-WGS/20201029-hkle-chimera/mateonly/
data/20200603-TCGA-GBMLGG-WGS/20230124-hg38-bwa/tmp/
data/20211122-Homology-Paper/PCAWG_paper.README
data/20211122-Homology-Paper/PCAWG_paper.accessions.tmp
data/20211122-Homology-Paper/PCAWG_paper.accessions.txt
data/20211122-Homology-Paper/PCAWG_paper.csv
data/20211122-Homology-Paper/PCAWG_paper.homology.before.csv
data/20211122-Homology-Paper/PCAWG_paper.homology.csv
data/20211122-Homology-Paper/PCAWG_paper.homology.lite.csv
data/20211122-Homology-Paper/bed_files_with_region_lengths.masked.plus.csv
data/20211122-Homology-Paper/bed_files_with_region_lengths.raw.plus.csv
data/20211122-Homology-Paper/output.csv
data/20220804-RaleighLab-RNASeq/20230519-Viral/QM.TP53.GAPDH.exon.tsv
data/20220804-RaleighLab-RNASeq/20230519-Viral/QM.TP53.GAPDH.transcript.tsv
data/20220804-RaleighLab-RNASeq/20230519-Viral/e2e_counts.tsv
data/20220804-RaleighLab-RNASeq/20230519-Viral/local_counts.tsv
development/rmarkdown.tex
development/test.Rmd
development/test.html
docker/._MELTv2.1.5fast
docker/ALU.final_comp.vcf
docker/ALU_transposon_file_list.txt
docker/CloudMELT-1.0.1/
docker/CloudMelt/
docker/HERVK.bed.list
docker/HERVK.final_comp.vcf
docker/HERVK.hum.list
docker/HERVK.master.bed
docker/HERVK.merged.hum_breaks.sorted.bam
docker/HERVK.merged.hum_breaks.sorted.bam.bai
docker/HERVK.pre_geno.tsv
docker/HT-7604-01A-11D-2088-test/
docker/HT-7604-01A-11D-2088.bam
docker/HT-7604-01A-11D-2088.bam.bai
docker/HT-7604-01A-11D-2088.bam.disc
docker/HT-7604-01A-11D-2088.bam.disc.bai
docker/HT-7604-01A-11D-2088.bam.fq
docker/HT-7604-01A-11D-2088.chrX152833251.bam
docker/HT-7604-01A-11D-2088.chrX152833251.bam.bai
docker/MELT.tar
docker/MELT/
docker/MELTv2.1.5fast.tar.gz
docker/MELTv2.2.2.bash
docker/MELTv2.2.2.tar.gz
docker/SVA.bed.list
docker/SVA.final_comp.vcf
docker/SVA.hum.list
docker/SVA.master.bed
docker/SVA.merged.hum_breaks.sorted.bam
docker/SVA.merged.hum_breaks.sorted.bam.bai
docker/SVA.pre_geno.tsv
docker/alignment.index
docker/hg38.chrXYM_alts.fa.fai
docker/hg38.chrXYM_alts.fa.gz
docker/mosdepth
docker/output.mosdepth.global.dist.txt
docker/output.mosdepth.region.dist.txt
docker/output.regions.bed.gz
docker/output.regions.bed.gz.csi
docker/priors.vcf
docker/priors.vcf.1
docker/priors.vcf.back
docker/s3_1000genomes_phase3_data_ls
docker/sequence.index
docker/test.bash
docker/testing/
docker/tmp/
docker/transposon_list.txt
docker/working/
refs/TEProF2/S1-bitscore-table/All_Human_proteins.*
refs/TEProF2/S1-bitscore-table/All_proteins.*
refs/TEProF2/S1-bitscore-table/Human_herpes_proteins.*
refs/TEProF2/S1-bitscore-table/NP_040188.1_serine-threonine_protein_kinase_US3_Human_alphaherpesvirus_3.fa
refs/TEProF2/S1-bitscore-table/S1._.csv
refs/TEProF2/S1-bitscore-table/S1.csv
refs/TEProF2/S1-bitscore-table/S1.list.csv
refs/TEProF2/S1-bitscore-table/S1.sorted.csv
refs/TEProF2/S1-bitscore-table/S1.sorted.select.csv
refs/TEProF2/S1-bitscore-table/*S10_*_ProteinSequences_fragments_in_*_proteins*blastp.e*.*
refs/TEProF2/S1-bitscore-table/S10_S2_ProteinSequences-tile-25-24.fa*
refs/TEProF2/S1-bitscore-table/S1_virus_protein_bitscore*
refs/TEProF2/S1-bitscore-table/TCGA_Expression.select.translated.present.csv
refs/TEProF2/S1-bitscore-table/TCGA_Expression.select.translated.present.sample_aggregated_by_study.csv
refs/TEProF2/S1-bitscore-table/TCONS_viral_protein_translation_table*
refs/TEProF2/S1-bitscore-table/TCONS_virus_protein_bitscore.S1.list.csv
refs/TEProF2/S1-bitscore-table/TCONS_virus_protein_bitscore.csv
refs/TEProF2/S1-bitscore-table/Variola_virus_proteins.*
refs/TEProF2/S1-bitscore-table/all_human_virus_abbreviation_translation_table.csv
refs/TEProF2/S1-bitscore-table/herpes_protein_virus_translation_table.csv
refs/TEProF2/S1-bitscore-table/herpes_virus_abbreviation_translation_table.csv
refs/TEProF2/S1-bitscore-table/prot.accession2taxid.gz
refs/TEProF2/S1-bitscore-table/tmp*
refs/TEProF2/S1-bitscore-table/viral*protein.faa.gz
refs/TEProF2/S1-bitscore-table/viral.protein.names.txt
refs/TEProF2/S1-bitscore-table/virus_protein_TCONS_bitscore.csv
refs/TEProF2/S1-bitscore-table/virus_translation_table*csv
refs/TEProF2/S1-bitscore-table/virus_taxonomy_tree_translation_table*csv*
refs/TEProF2/S1-bitscore-table/20231128/
refs/TEProF2/S1-bitscore-table/202311/
refs/TEProF2/S1-bitscore-table/20231207/
scripts/umi_dedup_paired.py
scripts/vcf_reference_compare.bash
singularity/ubuntu-xenial-16.04-cloudimg-console.log
refs/TEProF2/S1-bitscore-table/S10_S2_ProteinSequences_fragments_in_human.protein.blastp.e0.05.bitscoreGTE.*.list*.txt
refs/TEProF2/S1-bitscore-table/S10_S2_ProteinSequences_fragments_in_human.protein.blastp.e0.05.list.txt
refs/TEProF2/S1-bitscore-table/S10_S2_ProteinSequences_fragments_in_human.protein.blastp.e0.05.tsv
refs/TEProF2/S1-bitscore-table/S1_S10_S2_ProteinSequences_fragments_in_human.protein.accession_only.blastp.e0.05.csv
refs/TEProF2/S1-bitscore-table/S1_S10_S2_ProteinSequences_fragments_in_human.protein.extra.blastp.e0.05.bitscoreGTE.*.genus.*
refs/TEProF2/S1-bitscore-table/S1_S10_S2_ProteinSequences_fragments_in_human.protein.extra.blastp.e0.05.csv
refs/TEProF2/S1-bitscore-table/col*
refs/TEProF2/S1-bitscore-table/human.protein.faa.gz*
refs/TEProF2/S1-bitscore-table/human.protein.p*
refs/TEProF2/S1-bitscore-table/human.protein.translation_table.csv

data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/All.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/AllAttributes.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/AllGenes.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/AllRE_all.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/AllREs.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/AllREsMinusXs.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/AlmostAll.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/CleanDatasets/
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/GENE_2_counts_normalized.subject_unique.metadata.all.tsv
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/GENE_2_counts_normalized.subject_unique.metadata.tsv
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/RE_all_2_counts_normalized.subject_unique.metadata.all.tsv
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/RE_all_2_counts_normalized.subject_unique.metadata.tsv
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/Select.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/SelectAttributes.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/SelectREs.txt
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/ckpts-mnist-cnn-modified/
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/ckpts-mnist-cnn-original/
data/20200720-TCGA-GBMLGG-RNA_bam/20240401-REdiscoverTE-TensorFlow/ckpts-mnist-cnn/
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/.RData
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/.Rhistory
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/GENE_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/GENE_x_RE_all.correlation.gt08.gt08.tsv
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/GENE_x_RE_all.correlation.gt08.tsv
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/GENE_x_RE_all.correlation.gt09.gt09.tsv
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/GENE_x_RE_all.correlation.gt09.tsv
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/GENE_x_RE_all.correlation.tsv.gz
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/GENE_x_RE_exon_repFamily.correlation.png
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_all_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_all_repFamily_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_exon_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_exon_repFamily_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_intergenic_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_intergenic_repFamily_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_intron_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/RE_intron_repFamily_2_counts_normalized.RDS
data/20201006-GTEx/20201117-REdiscoverTE/REdiscoverTE_rollup.noquestion/correlations.Rscript
data/20231227-PRJNA507500-PhIP-Seq/20231227-PhIP-Seq/Untitled.ipynb
data/20231227-PRJNA507500-PhIP-Seq/20231227-PhIP-Seq/final_matrix.csv.gz
refs/TEProF2/S1-bitscore-table/Human_herpes_proteins-tile-25-24.faa
refs/TEProF2/S1-bitscore-table/Human_herpes_proteins_fragments_in_human.protein.blastp.e0.05.tsv
refs/TEProF2/S1-bitscore-table/S1_Human_herpes_proteins_fragments_in_human.protein.accession_only.blastp.e0.05.csv
refs/TEProF2/S1-bitscore-table/S1_Human_herpes_proteins_fragments_in_human.protein.extra.blastp.e0.05.csv
refs/phipSeq-20221116/oligos-ref-56-28.faa
refs/sources/gencodegenes.org/release_43/Human_alphaherpesvirus_3_proteins_in_SPARC.blastp.tsv
refs/sources/gencodegenes.org/release_43/Human_alphaherpesvirus_3_proteins_in_SPARC.blastp.txt
scripts/test.py
