adapter and indexes for QB3_NovaSeq SP 150PE_SFHH009 S Francis_11-16-2021.csv
adapter and indexes for QB3_NovaSeq SP 150PE_SFHH009 S Francis_11-16-2021.tsv
adapter and indexes for QB3_NovaSeq SP 150PE_SFHH009 S Francis_11-16-2021.xlsx
feature_counts.genes.tsv
feature_counts.genes.tsv.summary.tsv
feature_counts.mirna.sorted.tsv
feature_counts.mirna.tsv
feature_counts.mirna.tsv.summary.tsv
out/
out_noumi/
