hla-cidr-hg19/
hla-i370-hg19/
hla-onco-hg19/
hla-tcga-hg19/
hla.html
CIDR_IPS.csv
ChatGPT-1/
ChatGPT-2/
I370_AGS.csv
Lucie_AGS.csv
ONCO_AGS.csv
PHIP_AGS.csv
PHIP_IPS.csv
ags_covars.csv
ags_sample_tile_q40_counts.csv
agsips_covars.csv
chr6.hla_dosage.onco_i370_cidr_gte_0.8.t.agsipsonly.select.csv
chr6.hla_dosage.onco_i370_gte_0.8.t.agsonly.select.csv
hla_analysis_outputs/
seropositive.10.csv
